@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*colors :
    bg : #1B2430
    text : #D6D5A8,
    text-2 : #51557E
*/



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Poppins', sans-serif;
    
}

/*#080F43*/
.t1{
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    background: #19A7CE;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 20px;
    transition: all 0.3s ease;
    text-decoration: none;
}
.t1:hover{
    color: white;
    cursor: pointer;


}
body{
    background: #146C94;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/*#2F3136*/
.container{
    position: relative;
    width:100%;
    max-width: 1000px;
    min-height: 1000px;
    background: white;
    margin: 30px;
    display: grid;
    grid-template-columns: 1.4fr 2.4fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left_side{
    position: relative;
    background: #19A7CE;
    padding: 40px;

}

.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);

}
.profileText .imagebox{
    position: relative ;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profileText .imagebox img{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a{
    text-decoration: none;
}
.profileText h2{
    color: white;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profileText h2 span{
    font-size: 0.8em;
    font-weight: 300;
}
.contactInfo{
    padding-top: 40px;
}

.title{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactInfo ul{
    position: relative;

}
.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #000000;
}
.contactInfo ul li .text{
    color: white;
    font-weight: 300;
}
.contactInfo.education li{
    margin-bottom: 15px;
}

.contactInfo.education h5{
    color: #000000;
    font-weight: 500;
}

.contactInfo.education h4:nth-child(2){
    color: #FFF;
    font-weight: 500;

}
.contactInfo.education h4{
    color: white;
    font-weight: 300;
    
}
.contactInfo.language .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}
.contactInfo.language .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4 ;
}


.container .right_side{
    position: relative;
    background: white;
    padding: 15px;
    
}
.about{
    margin-bottom: 50px;
}

.about:last-child{
    margin-bottom: 0;
}
.title2{
    text-transform: uppercase;
    color: #303B2A ;
    letter-spacing: 1px;
    margin-bottom: 10px;

}
p{
    color: #333;
}
.about .box{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}
.about .box .year_company{
    min-width: 150px;
}
.about .box .year_company h5{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}

.about .box .text h4{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}
.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.skills .box h4{
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}
.skills .box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background: #F0F0F0;
}
.skills .box .percent div{
    top: 0;
    left: 0;
    height: 100%;
    background : #03a9f4;

}
.interests ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.interests ul li{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}
.interests ul li .fa{
    color:#03a9f4;
    font-size: 500;
    width: 20px;
}
@media (max-width:1000px) {
    .container{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .interests ul{
        grid-template-columns: repeat(2,1fr );
    }
}

@media (max-width:600px) {
    .about .box{
        flex-direction: column;
    }
    .about .box .year_company{
        margin-bottom: 5px;
    }
    .interests ul{
        grid-template-columns: repeat(1,1fr );
    }
    .skills .box{
        grid-template-columns: repeat(1,1fr);
    }
}
.contactInfo .lang{
    background-color: red;
}

.text-blue{
    color: #03a9f4;
}

.text-blue:hover{
    color: white;
}
.text:hover{
    color: #03a9f4;
}